@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
}
.wrapper {
  padding: 0 40px;
}
/*Header*/
.header.sticky {
  // padding: 24px 40px;
  border-bottom: 2px solid #000;
  // background: #fff;
  .header-logo {
    fill: green;
  }
}
header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  z-index: 1000;
  transition: 0.1s ease;
  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .header-logo {
      margin-top: 0rem;
      margin-right: 2rem;
      height: 1rem;
      width: 6rem;
      object-fit: cover;
    }
    .header-search {
      border: 1px solid #ccc;
      padding: 12px 0 12px 20px;
      border-radius: 4px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .header-search i {
        font-size: 20px;
        flex-shrink: 0;
      }
      .header-search-input {
        background: none;
        flex: 1;
        margin-left: 10px;
        font-size: 14px;
        outline: none;
        border: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    i {
      display: none;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul li {
      padding: 12px;
    }
    ul li a {
      color: #000;
      font-weight: 400;
      position: relative;
    }
    ul li a::before {
      content: "";
      width: 0%;
      height: 2px;
      position: absolute;
      bottom: -1px;
      left: 0;
      background-color: #000;
      transition: 0.3s ease;
    }
    ul li a:hover::before {
      width: 100%;
    }

    #menu-btn {
      display: none;
    }
    .header-sell-btn {
      width: 60px;
      height: 35px;
      border-radius: 20px;
      border: 1px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      margin-left: 15px;
      cursor: pointer;
      transition: 0.2s linear;
    }
    .header-sell-btn:hover {
      transform: translateY(2px);
    }
  }
}
/*image-background*/
section {
  position: relative;
  width: 100%;
  height: 667px;
  background: url(https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c25lYWtlcnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80)
    no-repeat; //fixed;
  background-size: cover;
  .section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    p {
      background: rgba($color: #000000, $alpha: 0.3);
      padding: 10px 40px;
      font-size: 40px;
      font-weight: 600;
    }
    marquee {
      font-size: 20px;
    }
  }
}
/*Menu*/
.option-menu {
  height: 50px;
  padding: 0 150px;
  background: rgba($color: #1a202c, $alpha: 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .option-item {
    text-align: center;
    a {
      text-align: center;
      color: #000;
      font-size: 16px;
      font-weight: 600;
      transition: 0.2s ease;
    }
    a:hover {
      color: #eee;
    }
  }
}
/*Content*/
.content {
  width: 100%;
  margin-top: 30px;
  /*Brands*/
  .brands {
    width: 100%;
    .brand-tittle {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .brands-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 24px;
      .brand-img {
        object-fit: cover;
        cursor: pointer;
        height: 160px;
        overflow: hidden;
        position: relative;
        .brand-img-top {
          position: absolute;
          top: 0;
          right: 10px;
          width: 40px;
          height: 40px;
          object-fit: cover;
          border: 1px solid #ccc;
        }
        .brand-img-bottom {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 1px solid #ccc;
        }
      }
    }
  }

  /*Products*/
  .products {
    width: 100%;
    margin: 20px 0;
    .products-top {
      width: 100%;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .products-top-left {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          font-weight: 600;
          margin-right: 5px;
          font-size: 18px;
        }
      }
      .products-top-right {
        color: #009432;
        padding: 5px;
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease;
        p {
          font-weight: 600;
          margin-right: 8px;
        }
      }
      .products-top-right:hover {
        cursor: pointer;
        background: rgba($color: #ccc, $alpha: 0.6);
      }
    }
    .products-bottom {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 24px;
      .product-card {
        color: #000;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .product-image-wrap {
          flex-shrink: 0;
          height: 110px;
          .product-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .product-content {
          padding: 10px 2px 10px 8px;
          width: 100%;
          flex: 1;
          display: flex;
          flex-direction: column;
          .product-name {
            text-transform: uppercase;
            margin-bottom: 6px;
            font-size: 14px;
            font-weight: 500;
            flex-shrink: 0;
            display: -webkit-box;
            overflow: hidden;
            word-break: break-word;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
          .product-content-bot {
            flex: 1;
            margin-top: auto;
            display: flex;
            flex-direction: column;
          }
          .product-desc-price {
            flex: 1;
            display: flex;
            flex-direction: column;
          }
          .product-desc {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 6px;
            font-size: 12px;
            font-weight: 500;
            color: #333;
            margin-top: auto;
          }
          .product-price {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 700;
          }
          .product-totalsold {
            flex-shrink: 0;
            margin-top: auto;
            padding: 3px;
            display: flex;
            align-items: center;
            i {
              color: #009432;
              font-size: 12px;
            }
            p {
              padding: 3px;
              background: rgba($color: #ccc, $alpha: 0.6);
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  /*Posts*/
  .posts {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .post-item-70 {
      width: 66%;
      a {
        img {
          display: block;
          width: 100%;
        }
      }
    }
    .post-item-30 {
      width: 32%;
      a {
        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
  /*Releases*/
  .releases {
    .releases-top {
      width: 100%;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .releases-top-left {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          font-weight: 600;
          margin-right: 5px;
          font-size: 18px;
        }
      }
      .releases-top-right {
        color: #009432;
        padding: 5px;
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease;
        p {
          font-weight: 600;
          margin-right: 8px;
        }
      }
      .releases-top-right:hover {
        cursor: pointer;
        background: rgba($color: #ccc, $alpha: 0.6);
      }
    }
    .releases-bot {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 24px;
      .release-card {
        border: 1px solid #ccc;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .release-card-top {
          flex: 1;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-bottom: 10px;
          .release-card-aboveimg {
            flex: 1;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            .release-card-date {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 20px;
              color: #1a202c;
              .release-card-month {
                position: relative;
                padding-right: 8px;
                &::before {
                  content: "";
                  position: absolute;
                  right: 0;
                  top: 4px;
                  width: 2px;
                  height: 20px;
                  background-color: #ccc;
                }
              }
              .release-card-day {
                padding-left: 6px;
              }
            }
            i {
              color: #000;
              font-size: 20px;
              position: absolute;
              bottom: -5px;
              right: 0;
            }
          }
          .release-card-image {
            flex-shrink: 0;
            width: 100%;
            height: 110px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .release-card-bot {
          flex: 1;
          padding-left: 4px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          .release-card-name {
            flex: 1;
            font-size: 14px;
            text-transform: uppercase;
            color: #000;
            font-weight: 500;
            margin-bottom: 10px;
            display: -webkit-box;
            overflow: hidden;
            word-break: break-word;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
          }
          .release-card-bot-wrap {
            flex-shrink: 0;
            margin-top: auto;
            .release-card-ask {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 5px;
              span.down {
                border-top: 15px solid #ff5a5f;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 0px solid transparent;
              }
              span.up {
                border-bottom: 15px solid #ff5a5f;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 0px solid transparent;
              }
              p {
                margin-left: 6px;
                flex: 1;
                font-size: 14px;
                color: #000;
                font-weight: 600;
              }
            }
            .release-card-btn {
              p {
                display: inline-block;
                background: rgba($color: #000000, $alpha: 0.9);
                padding: 5px 16px;
                color: #fff;
                text-transform: uppercase;
                transition: 0.1 linear;
                font-weight: 500;
              }
              p:hover {
                background: #000;
              }
            }
          }
        }
      }
    }
  }
}
/*Footer*/
footer {
  background: rgba($color: #000000, $alpha: 0.9);
  color: #fff;
  .footer-top {
    .footer-tittle {
      font-weight: 500;
      padding: 20px 0;
    }
    .option-list {
      padding-bottom: 30px;
      border-bottom: 1px solid #ccc;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 24px;
      .option-item-tittle {
        position: relative;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .option-item-tittle::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #fff;
        transition: 0.1s ease;
        opacity: 0;
      }
      .option-item-tittle:hover::before {
        opacity: 1;
      }
      .option-item {
        position: relative;
        color: #fff;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .option-item::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #fff;
        transition: 0.1s ease;
        opacity: 0;
      }
      .option-item:hover::before {
        opacity: 1;
      }
    }
  }
  .footer-bot {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .footer-btn {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease;
      p {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
      }
      span {
        margin: 0 6px;
        width: 2px;
        height: 16px;
        background: #fff;
      }
    }
    .footer-btn:hover {
      background: #fff;
      p {
        color: #000;
      }
      span {
        background: #000;
      }
    }
    .footer-sm {
      width: auto;
      .footer-sm-tittle {
        font-size: 14px;
      }
      .footer-sm-icon {
        i {
          cursor: pointer;
          margin-right: 10px;
          font-size: 18px;
          transition: all 0.6 linear;
        }
        i:hover {
          transform: scale(0.9);
        }
      }
    }
    .footer-download {
      width: auto;
      .footer-download-tittle {
        font-size: 14px;
      }
      .footer-download-icon {
        i {
          cursor: pointer;
          margin-right: 10px;
          font-size: 18px;
          transition: all 0.6 linear;
        }
        i:hover {
          transform: scale(0.9);
        }
      }
    }
    .uat {
      width: auto;
      font-size: 14px;
    }
    .pbd {
      width: auto;
      font-size: 14px;
    }
  }
}

/*Responsive*/
@media screen and (max-width: 1240px) {
  /*Header*/

  header {
    padding: 20px 10px;
    .header-left {
      .header-logo {
        margin-top: 0rem;
        margin-right: 1rem;
        height: 1rem;
        width: 6rem;
        object-fit: cover;
      }
      .header-search {
        padding: 8px 0 8px 10px;
        .header-search i {
          font-size: 14px;
        }
        .header-search-input {
          font-size: 14px;
        }
      }
    }
    .header-right {
      margin-left: 5px;
      ul li {
        padding: 8px;
        transition: 0.3s ease;
      }
      ul li a {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        position: relative;
      }
      ul li a::before {
        content: "";
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: -1px;
        left: 0;
        background-color: #000;
        transition: 0.3s ease;
      }
      ul li:hover {
        transform: translateY(-2px);
      }
      ul li a:hover::before {
        width: 100%;
      }
      #menu-btn {
        display: none;
      }
      .header-sell-btn {
        width: 45px;
        height: 30px;
        border-radius: 20px;
        margin-left: 10px;
      }
    }
  }
  /*Menu*/
  .option-menu {
    height: 50px;
    padding: 0 20px;
    background: rgba($color: #1a202c, $alpha: 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .option-item {
      text-align: center;
      a {
        text-align: center;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        transition: 0.2s ease;
      }
      a:hover {
        color: #eee;
      }
    }
  }
  /*Content*/
  .content {
    padding: 0 10px;
    /*Products*/
    .products {
      padding: 0;
      .products-bottom {
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 20%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
      }
    }
    /*Releases*/
    .releases {
      .releases-bot {
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 20%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
      }
    }
  }
  /*Footer*/
  footer {
    .footer-top {
      .footer-tittle {
        padding: 20px 0;
      }
      .option-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 24px;
      }
    }
    .footer-bot {
      .footer-btn {
        width: 100%;
        margin-bottom: 10px;
      }
      .footer-sm {
        width: auto;
      }
      .footer-download {
        width: auto;
      }
      .uat {
        width: auto;
        font-size: 14px;
      }
      .pbd {
        margin-top: 10px;
        text-align: center;
        width: 100%;
        font-size: 14px;
      }
    }
  }
}
/*Mobile*/
@media screen and (max-width: 768px) {
  /*Header*/

  header {
    height: 80px;
    padding: 5px;
    .header-left {
      .header-logo {
        margin-top: 0rem;
        margin-right: 0.5rem;
        height: 1.4rem;
        width: 4.1rem;
        object-fit: cover;
      }
      .header-search {
        padding: 8px 0 8px 8px;
        i {
          font-size: 11px;
        }
        .header-search-input {
          font-size: 14px;
        }
      }
    }
    .header-right {
      i {
        display: block;
        font-size: 20px;
        margin-left: 5px;
        cursor: pointer;
      }
      ul {
        width: 100%;
        background: #ccc;
        border-top: 2px solid #000;
        position: absolute;
        left: -100%;
        top: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s linear;
      }
      .header-right-menu.show {
        left: 0;
      }

      #menu-btn {
        display: inline-block;
      }
      #menu-btn {
        .fa-times {
          transform: rotate(180deg);
        }
      }

      ul li {
        padding: 30px 0;
      }
      ul li a {
        font-size: 18px;
      }
      ul li a::before {
        display: none;
      }
      ul li a:hover {
        color: #27ae60;
      }
      .header-sell-btn {
        display: none;
      }
    }
  }
  /*Menu*/
  .option-menu {
    padding: 0;
    background: rgba($color: #1a202c, $alpha: 0.2);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // overflow-x: scroll;
    // overflow-y: hidden;
    .option-item {
      padding: 0 5px;
      text-align: center;
      a {
        color: #000;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
  /*Content*/
  .content {
    padding: 0 10px;
    /*brands*/
    .brands {
      .brands-list {
        width: 100%;
        display: grid;
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 60%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
      }
    }
    /*Products*/
    .products {
      padding: 0;
      .products-top {
        .products-top-left {
          p {
            font-size: 15px;
          }
        }
      }
      .products-bottom {
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 50%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
      }
    }
    /*Post*/
    .posts {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .post-item-70 {
        display: none;
      }
      .post-item-30 {
        width: 100%;
        a {
          img {
            width: 100%;
            display: block;
          }
        }
      }
    }
    /*Releases*/
    .releases {
      .releases-bot {
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 50%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
      }
    }
  }
  /*Footer*/
  footer {
    .footer-top {
      padding: 0 10px;
      .footer-tittle {
        font-size: 22px;
        padding: 20px 0;
      }
      .option-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 24px;
      }
    }
    .footer-bot {
      padding: 10px;
      .footer-btn {
        width: 100%;
        margin-bottom: 10px;
      }
      .footer-sm {
        width: 100%;
        text-align: center;
      }
      .footer-download {
        width: 100%;
        text-align: center;
      }
      .uat {
        width: 100%;
        text-align: center;
        font-size: 14px;
      }
      .pbd {
        margin-top: 10px;
        text-align: center;
        width: 100%;
        font-size: 14px;
      }
    }
  }
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
